.Drawer{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Drawer h1 {
  text-align: center !important;
  margin-top: 30px !important;
  margin-bottom: 30px !important;
  font-weight: bold!important;
  cursor: pointer!important;
}
