@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  /* color: white !important; */
  /* background-color: black !important; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  font-family: "Space Grotesk", sans-serif;
  box-sizing: border-box;
}
.SpaceFont {
  font-family: "Space Grotesk", sans-serif !important;
}
.labels {
  display: flex;
  max-width: 60%;
  gap: 10px;
  flex-wrap: wrap;
}
img.image-set-profile {
  border-radius: 50%;
}

img.image-profile {
  border-radius: 50%;
}
div.about-us-image {
  background-image: url("../public/files/home.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 10px 37px 94px 0px rgba(0, 245, 143, 0.49);
  -webkit-box-shadow: 10px 37px 94px 0px rgba(0, 245, 143, 0.49);
  -moz-box-shadow: 10px 37px 94px 0px rgba(0, 245, 143, 0.49);
}
.float-right {
  display: none;
}

a {
  text-decoration: none !important;
}
